<a mat-list-item [ngStyle]="{'padding-left': (depth * 12) + 'px'}"  [ngClass]="{'expanded': expanded}" class="menu-list-item">
    <div fxFlex fxLayout="row" fxLayoutAlign="none center" (click)="onItemSelected(item)">
        <mat-icon class="routeIcon">{{item.iconName}}</mat-icon>
        {{item.displayName}}
    </div>

    <span fxFlex *ngIf="item.children && item.children.length">
    <span fxFlex></span>

    <mat-icon [@indicatorRotate]="expanded ? 'expanded': 'collapsed'" (click)="onIconSelected(item)">
        expand_more
    </mat-icon>
    </span>
</a>
<div *ngIf="expanded">
    <app-menu-list-item *ngFor="let child of item.children" [item]="child" [depth]="depth+1">
    </app-menu-list-item>
</div>