:host {
    display: flex;
    flex-direction: column;
    outline: none;
    width: 100%;
}

:host .mat-list-item.active {
    background-color: rgb(255, 255, 255);
}

:host:hover>.mat-list-item:not(.expanded),
 :host:focus>.mat-list-item:not(.expanded) {
    background-color: rgba(255, 255, 255, 0.192) !important;
}

.mat-list-item .routeIcon {
    margin-right: 5px;
}

:host /deep/ .mat-list-item-content {
    justify-content: space-between;
}