<section id="section" class="landing">
  <div class="public-media-section">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
          <h1>Public Media Board</h1>
          <div class="grid">
            <div class="item">
              <img src="../../../assets/img/img-1.png" alt="" />
              <div class="item-desc">
                <div class="profile-name">
                  <img src="../../../assets/img/profile.png" alt="" />Roy Lee
                </div>
                <div class="upload-time">2h</div>
                <div class="clear"></div>
              </div>
            </div>
            <div class="item">
              <img src="../../../assets/img/img-2.png" alt="" />
              <div class="item-desc">
                <div class="profile-name">
                  <img src="../../../assets/img/profile.png" alt="" />Roy Lee
                </div>
                <div class="upload-time">2h</div>
                <div class="clear"></div>
              </div>
            </div>
            <div class="item">
              <img src="../../../assets/img/img-3.png" alt="" />
              <div class="item-desc">
                <div class="profile-name">
                  <img src="../../../assets/img/profile.png" alt="" />Roy Lee
                </div>
                <div class="upload-time">2h</div>
                <div class="clear"></div>
              </div>
            </div>
            <div class="item">
              <img src="../../../assets/img/img-4.png" alt="" />
              <div class="item-desc">
                <div class="profile-name">
                  <img src="../../../assets/img/profile.png" alt="" />Roy Lee
                </div>
                <div class="upload-time">2h</div>
                <div class="clear"></div>
              </div>
            </div>
            <div class="item">
              <img src="../../../assets/img/img-5.png" alt="" />
              <div class="item-desc">
                <div class="profile-name">
                  <img src="../../../assets/img/profile.png" alt="" />Roy Lee
                </div>
                <div class="upload-time">2h</div>
                <div class="clear"></div>
              </div>
            </div>
            <div class="item">
              <img src="../../../assets/img/img-6.png" alt="" />
              <div class="item-desc">
                <div class="profile-name">
                  <img src="../../../assets/img/profile.png" alt="" />Roy Lee
                </div>
                <div class="upload-time">2h</div>
                <div class="clear"></div>
              </div>
            </div>
            <div class="item">
              <img src="../../../assets/img/img-7.png" alt="" />
              <div class="item-desc">
                <div class="profile-name">
                  <img src="../../../assets/img/profile.png" alt="" />Roy Lee
                </div>
                <div class="upload-time">2h</div>
                <div class="clear"></div>
              </div>
            </div>
            <div class="item">
              <img src="../../../assets/img/img-8.png" alt="" />
              <div class="item-desc">
                <div class="profile-name">
                  <img src="../../../assets/img/profile.png" alt="" />Roy Lee
                </div>
                <div class="upload-time">2h</div>
                <div class="clear"></div>
              </div>
            </div>
            <div class="item">
              <img src="../../../assets/img/img-9.png" alt="" />
              <div class="item-desc">
                <div class="profile-name">
                  <img src="../../../assets/img/profile.png" alt="" />Roy Lee
                </div>
                <div class="upload-time">2h</div>
                <div class="clear"></div>
              </div>
            </div>
            <div class="item">
              <img src="../../../assets/img/img-10.png" alt="" />
              <div class="item-desc">
                <div class="profile-name">
                  <img src="../../../assets/img/profile.png" alt="" />Roy Lee
                </div>
                <div class="upload-time">2h</div>
                <div class="clear"></div>
              </div>
            </div>
            <div class="item">
              <img src="../../../assets/img/img-11.png" alt="" />
              <div class="item-desc">
                <div class="profile-name">
                  <img src="../../../assets/img/profile.png" alt="" />Roy Lee
                </div>
                <div class="upload-time">2h</div>
                <div class="clear"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- public-media-section-->
</section>
