<button mat-icon-button class="close-button" [mat-dialog-close]="true">
    <mat-icon class="close-icon" color="warn">close</mat-icon>
  </button>
  
  <h1 mat-dialog-title><img src="assets/img/delete-icon.png" alt="">Delete selected files?</h1>
  <div mat-dialog-content>
    <p>If you delete the file all link will break. Are you sure you want to proceed?</p>
    <div class="modal-btn">
      <button mat-button class="btn-cancel" [mat-dialog-close]="true">Cancel</button>
      <button mat-button class="btn-ok" (click)="onDeleteConfirm()">Confirm</button>
    </div>
  </div>
  