<div class="dashboard-content">
    <app-topbar (onDownloadAlbum)="onDownloadAlbum()" (onRenameAlbum)="onRenameAlbum()"></app-topbar>
    <div class="dashboard-bottom">
        <div class="dash-bot-top">
            <h2>Video</h2>
            <div class="list-grid desktop-div">
                <ul class="nav nav-tabs">
                    <li><a class="active" data-toggle="tab" (click)="setGridViewMode()"><i class="fa fa-th"
            aria-hidden="true"></i></a></li>
                    <li><a data-toggle="tab" (click)="setListViewMode()"><i class="fa fa-list" aria-hidden="true"></i></a>
                    </li>
                </ul>
            </div>
            <div class="select-all desktop-div">
                <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection_list.hasValue() && isAllSelected()" [indeterminate]="selection_list.hasValue() && !isAllSelected()">Select All</mat-checkbox>
            </div>

            <div class="clear"></div>
            <div class="changing-btn mobile-div">
                <a class="grey-btn" (click)="onDownloadFiles()"><i class="fa fa-download" aria-hidden="true"></i>Download</a>
                <a class="grey-btn" (click)="onMoveOrCopyFiles('Move')"><i class="fa fa-arrows"
        aria-hidden="true"></i>Move</a>
                <a class="grey-btn" (click)="onMoveOrCopyFiles('Copy')"><i
        class="fa fa-clone"></i>Copy</a>
                <div class="clear"></div>
            </div>
            <div class="select-all mobile-div">
                <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection_list.hasValue() && isAllSelected()" [indeterminate]="selection_list.hasValue() && !isAllSelected()">Select All</mat-checkbox>
            </div>
            <div class="list-grid mobile-div">
                <ul class="nav nav-tabs">
                    <li><a class="active" data-toggle="tab" href="#fm-grid-view"><i class="fa fa-th"
            aria-hidden="true"></i></a></li>
                    <li><a data-toggle="tab" href="#fm-list-view"><i class="fa fa-list" aria-hidden="true"></i></a></li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>
        <div class="changing-btn pl-0 desktop-div">
            <a class="grey-btn" (click)="onDownloadFiles()" download><i class="fa fa-download" aria-hidden="true"></i>Download</a>
            <a class="grey-btn" (click)="onMoveOrCopyFiles('Move')"><i class="fa fa-arrows"
      aria-hidden="true"></i>Move</a>
            <a class="grey-btn" (click)="onMoveOrCopyFiles('Copy')"><i
      class="fa fa-clone"></i>Copy</a>
            <a class="grey-btn" (click)="onDeleteFiles()"><i
        class="fa fa-trash"></i>Delete</a>
            <div class="clear"></div>
        </div>
        <div class="tab-content">
            <div id="fm-grid-view" [ngClass]="{'tab-pane fade in active show': viewMode == 0, 'tab-pane fade ': viewMode == 1}" class="tab-pane fade in active show">
                <div class="recent-file-outer">
                    <div class="recent-file-head">
                        <h5>Recently added files</h5>
                        <div class="sort-by">Sort by <span>Date</span><img style="cursor: pointer;" (click)="onSortClicked()" src="assets/img/sort.png" alt="" /></div>
                        <div class="clear"></div>
                    </div>


                    <mat-grid-list cols="5">
                        <mat-grid-tile *ngFor="let item of cardItems; let i = index;">
                            <app-card [SetItem]="item" [selection_list]="selection_list" (deleteItems)="deleteItems($event)">

                            </app-card>
                        </mat-grid-tile>
                    </mat-grid-list>

                </div>
            </div>
            <div id="fm-list-view" [ngClass]="{'tab-pane fade in active show': viewMode == 1, 'tab-pane fade ': viewMode == 0}">
                <div class="list-table">
                    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                        <!-- Checkbox Column -->
                        <ng-container matColumnDef="select">
                            <th mat-header-cell *matHeaderCellDef>
                                <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection_list.hasValue() && isAllSelected()" [indeterminate]="selection_list.hasValue() && !isAllSelected()">
                                </mat-checkbox>
                            </th>
                            <td mat-cell *matCellDef="let row">
                                <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection_list.toggle(row) : null" [checked]="selection_list.isSelected(row)">
                                </mat-checkbox>
                            </td>
                        </ng-container>

                        <!-- Title Column -->
                        <ng-container matColumnDef="title">
                            <th mat-header-cell *matHeaderCellDef> Title </th>
                            <td mat-cell *matCellDef="let element">
                                <div class="file-name-table">
                                    <div class="file-name-img"><img src="{{viewImageThumbnail(element)}}" alt="">
                                        <span class="lock-box" *ngIf="element.is_protected!=0">
                    <img src="assets/img/lock-icon.png" class="" alt="">
                  </span>
                                    </div> {{element.title}}
                                </div>
                            </td>
                        </ng-container>

                        <!-- Date Column -->
                        <ng-container matColumnDef="date">
                            <th mat-header-cell *matHeaderCellDef> Date </th>
                            <td mat-cell *matCellDef="let element"> {{convertoToString(element.updated_at)}} </td>
                        </ng-container>

                        <!-- Privacy Column -->
                        <ng-container matColumnDef="privacy">
                            <th mat-header-cell *matHeaderCellDef> Privacy </th>
                            <td mat-cell *matCellDef="let element"> {{convertToPrivacyString(element.is_protected)}} </td>
                        </ng-container>
                        <!-- Action Column -->
                        <ng-container matColumnDef="action">
                            <th mat-header-cell *matHeaderCellDef> Action </th>
                            <td mat-cell *matCellDef="let element">
                                <div class="media-edit">
                                    <i class="fa fa-ellipsis-h"></i>
                                    <div class="media-edit-inner">
                                        <div class="media-edit-box">
                                            <a mat-button (click)="openDialog('privacy', element);$event.stopPropagation();"><img src="assets/img/edit.png" alt="" />Edit Privacy
                                            </a>
                                            <a mat-button (click)="openDialog('share', element);$event.stopPropagation();"><img src="assets/img/share.png" alt="" />Share</a>
                                            <a mat-button (click)="openDialog('rename', element);$event.stopPropagation();"><img src="assets/img/rename.png" alt="" />Rename</a>
                                            <a mat-button (click)="openDialog('delete', element);$event.stopPropagation();"><img src="assets/img/delete.png" alt="" />Delete</a>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection_list.toggle(row)">
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>