<div id="wrapper" class="auth-wrapper">        
    <div class="sign-up-section">
        <div class="container">
        <div class="row">
            <div class="col-xl-7 col-lg-6 col-md-12 col-sm-12 col-12">
                <div class="sign-logo">
                <a routerLink="/"><img src="../../../assets/img/main-logo.png" width="100px" alt="logo" /></a>
                </div>
            </div>
            <div class="col-xl-5 col-lg-6 col-md-12 col-sm-12 col-12">
                <div class="sign-box-outer">
                <div class="sign-box sign-in-box">
                    <h3>Sign In</h3>
                    <a routerLink="/register" class="sign-in">Sign Up</a>
                    <div class="clear"></div>
                    <form class="form-signin" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                        <div class="input-box">
                            <i class="fa fa-envelope"></i><input type="email" formControlName="email" placeholder="Email" />
                        </div>
                        <div class="input-box">
                            <i class="fa fa-lock"></i><input type="password" formControlName="password" placeholder="Password" />
                        </div>
                        <button type="submit">Sign In</button>
                    </form>
                    <div class="or-sign-up">
                        <p>Or sign in with</p>
                        <a routerLink="/" target="_blank"><i class="fa fa-google"></i></a>
                        <a routerLink="/" target="_blank"><i class="fa fa-twitter"></i></a>
                        <a routerLink="/" target="_blank"><i class="fa fa-facebook"></i></a>
                    </div>
                </div>
                </div>
            </div>
        </div>
        </div>			
    </div><!-- sign-up-section-->
</div>
