<div id="dashobard">
  <div class="photo-heading">
    <a routerLink="#"><i class="fa fa-angle-left"></i> Home</a>
  </div>
  <div class="image-editor-head">
    <h6>Hero.jpg</h6>
    <button type="button">Save</button>
    <div class="clear"></div>
  </div>
  <div class="image-editor-icons">
    <div class="ie-icons">
      <a routerLink="#"><img src="../../../assets/img/Undo.png" alt="" /></a>
      <a routerLink="#"><img src="../../../assets/img/Redo.png" alt="" /></a>
      <a routerLink="#"><img src="../../../assets/img/Cut.png" alt="" /></a>
      <a routerLink="#"><img src="../../../assets/img/Merge.png" alt="" /></a>
      <a routerLink="#"
        ><img src="../../../assets/img/Separate.png" alt=""
      /></a>
    </div>
    <div class="zoom-slider">
      <a routerLink="#">-</a>
      <div class="rSlider">
        <span class="rslide"></span>
        <input id="range" type="range" min="0" max="100" />
      </div>
      <a routerLink="#">+</a>
    </div>
    <div class="clear"></div>
  </div>
  <div class="image-editor-box">
    <div class="image-editor-box-right">
      <img src="../../../assets/img/image-editor.png" alt="" />
      <div class="rotation-box">
        <div class="rotation-box-left">
          <img src="../../../assets/img/angle_of_rotation-left.png" alt="" />
        </div>
        <div class="rotation-box-center">
          <span class="minus-rotate">-90°</span
          ><a routerLink="#"
            ><img src="../../../assets/img/rotation-icon.png" alt="" /></a
          ><span class="plus-rotate">+90°</span>
        </div>
        <div class="rotation-box-right">
          <img src="../../../assets/img/angle_of_rotation-right.png" alt="" />
        </div>
        <div class="clear"></div>
      </div>
    </div>
    <div class="image-editor-box-left">
      <h4>LIBRARIES</h4>
      <ul>
        <li>
          <a routerLink="#">
            <div class="ie-img">
              <img
                src="../../../assets/img/ie-1.png"
                alt=""
                class="ie-normal"
              />
              <img
                src="../../../assets/img/ie-1-h.png"
                alt=""
                class="ie-hover"
              />
            </div>
            <span>Adjust</span>
          </a>
        </li>
        <li>
          <a routerLink="#">
            <div class="ie-img">
              <img
                src="../../../assets/img/ie-2.png"
                alt=""
                class="ie-normal"
              />
              <img
                src="../../../assets/img/ie-2-h.png"
                alt=""
                class="ie-hover"
              />
            </div>
            <span>Resize</span>
          </a>
        </li>
        <li>
          <a routerLink="#" class="selected">
            <div class="ie-img">
              <img
                src="../../../assets/img/ie-3.png"
                alt=""
                class="ie-normal"
              />
              <img
                src="../../../assets/img/ie-3-h.png"
                alt=""
                class="ie-hover"
              />
            </div>
            <span>Crop</span>
          </a>
        </li>
        <li>
          <a routerLink="#">
            <div class="ie-img">
              <img
                src="../../../assets/img/ie-4.png"
                alt=""
                class="ie-normal"
              />
              <img
                src="../../../assets/img/ie-4-h.png"
                alt=""
                class="ie-hover"
              />
            </div>
            <span>Effects</span>
          </a>
        </li>
        <li>
          <a routerLink="#">
            <div class="ie-img">
              <img
                src="../../../assets/img/ie-5.png"
                alt=""
                class="ie-normal"
              />
              <img
                src="../../../assets/img/ie-5-h.png"
                alt=""
                class="ie-hover"
              />
            </div>
            <span>Contrast</span>
          </a>
        </li>
        <li>
          <a routerLink="#">
            <div class="ie-img">
              <img src="../../../assets/img/ie-6.png" alt="" />
            </div>
            <span>Stickers</span>
          </a>
        </li>
        <li>
          <a routerLink="#">
            <div class="ie-img">
              <img
                src="../../../assets/img/ie-7.png"
                alt=""
                class="ie-normal"
              />
              <img
                src="../../../assets/img/ie-7-h.png"
                alt=""
                class="ie-hover"
              />
            </div>
            <span>Filter</span>
          </a>
        </li>
        <li>
          <a routerLink="#">
            <div class="ie-img">
              <img
                src="../../../assets/img/ie-8.png"
                alt=""
                class="ie-normal"
              />
              <img
                src="../../../assets/img/ie-8-h.png"
                alt=""
                class="ie-hover"
              />
            </div>
            <span>Frame</span>
          </a>
        </li>
        <li>
          <a routerLink="#">
            <div class="ie-img">
              <img
                src="../../../assets/img/ie-9.png"
                alt=""
                class="ie-normal"
              />
              <img
                src="../../../assets/img/ie-9-h.png"
                alt=""
                class="ie-hover"
              />
            </div>
            <span>Text</span>
          </a>
        </li>
        <li>
          <a routerLink="#">
            <div class="ie-img">
              <img
                src="../../../assets/img/ie-10.png"
                alt=""
                class="ie-normal"
              />
              <img
                src="../../../assets/img/ie-10-h.png"
                alt=""
                class="ie-hover"
              />
            </div>
            <span>Draw</span>
          </a>
        </li>
      </ul>
      <div class="clear"></div>
    </div>
    <div class="clear"></div>
  </div>
</div>
