.pixie-image-editor-container {
    width: 100%;
    max-height: 100px;

    image-editor{
        display: flex;
        flex-direction: row-reverse;
        height: calc(100vh - 124px);

        toolbar {
            background: #fff !important;
            color: #475f7b;
            position: absolute;
            width: 100%;
            .left {
                toolbar-item:last-child {
                    display: none;
                }
            }
        }
        .canvas-wrapper {
            width: calc(100% - 475px);
            margin-top: 50px;
            vertical-align: middle;
            min-height: 100%;
        }
        editor-controls {
            width: 475px;
            height: 100%;
            margin-top: 50px;
            navigation-bar > .scroll-container {
                display: flex;
                width: 435px;
                flex-flow: wrap;
                height: calc(100% - 67px);
                button {
                    display: block;
                    border-radius: 4px;
                    background: rgba(236, 245, 253, 0.5);
                    border: 1px solid rgba(141, 171, 196, 0.5);
                    padding: 20px 0 12px;
                    line-height: 100%;
                    color: #8dabc4;
                    font-size: 0.8125em;
                    font-family: "Heebo", sans-serif;
                    min-width: 200px;
                    height: 103px;
                    font-weight: 100;
                    color: #0093ee;
                    text-align: center;
                    margin: 5px;
                    image-or-icon {
                        color: #0093ee;
                    }
                    &:hover {
                        color: #e74a3b;
                        border-color: rgba(231, 74, 59, 0.5);
                        image-or-icon {
                            color: #e74a3b;
                        }
                    }
                }
            }
            .scroll-container-x {
                overflow-y: auto;
                overflow-x: hidden;
                .tool-panel-content {
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    &>div {
                        margin-bottom: 10px;
                    }
                    .aspect-ratios {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        text-align: center;
                        &>div {
                            margin-bottom: 10px;
                        }
                    }
                    .round-action-button mat-icon {
                        display: flex;
                    }
                    &>:last-child {
                        margin-right: inherit;
                    }
                    &>:first-child {
                        margin-left: inherit;
                    }
                    
                }
            }
        }
    }
}
