.pixie-image-editor-container {
  width: 100%;

  image-editor {
    toolbar {
      background: #fff !important;
      color: #475f7b;
      position: absolute;
      width: 100%;
      .left {
        toolbar-item:last-child {
          display: none;
        }
      }
    }
    @media screen and (min-width: 921px) {
      display: flex;
      flex-direction: row-reverse;
      height: calc(100vh - 124px);

      .canvas-wrapper {
        width: calc(100% - 475px);
        margin-top: 50px;
        vertical-align: middle;
        min-height: 100%;
      }
      editor-controls {
        width: 475px;
        height: 100%;
        margin-top: 50px;
        navigation-bar > .scroll-container {
          display: flex;
          width: 435px;
          flex-flow: wrap;
          height: calc(100% - 67px);
          align-content: space-evenly;
          button {
            display: block;
            border-radius: 4px;
            background: rgba(236, 245, 253, 0.5);
            border: 1px solid rgba(141, 171, 196, 0.5);
            padding: 20px 0 12px;
            line-height: 100%;
            color: #8dabc4;
            font-size: 0.8125em;
            font-family: "Heebo", sans-serif;
            min-width: 200px;
            height: 103px;
            font-weight: 100;
            color: #0093ee;
            text-align: center;
            margin: 7px;
            image-or-icon {
              color: #0093ee;
            }
            &:hover {
              color: #e74a3b;
              border-color: rgba(231, 74, 59, 0.5);
              image-or-icon {
                color: #e74a3b;
              }
            }
          }
        }
        .scroll-container-x {
          overflow-y: auto;
          overflow-x: hidden;
          .tool-panel-content {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            & > div {
              margin-bottom: 10px;
            }
            .aspect-ratios {
              width: 100%;
              height: 100%;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              text-align: center;
              & > div {
                margin-bottom: 10px;
              }
            }
            .round-action-button mat-icon {
              display: flex;
            }
            & > :last-child {
              margin-right: inherit;
            }
            & > :first-child {
              margin-left: inherit;
            }
          }
        }
      }
      //do Smth
    }
    @media screen and (max-width: 920px) {
      display: flex;

      .canvas-wrapper {
        width: 100%;
        margin-top: 50px;
        vertical-align: middle;
        min-height: calc(100vh - 184px);
      }
      editor-controls {
        width: 100%;
        height: 400px;
        padding-left: 20px;
        padding-right: 20px;
        color-widget {
            margin-right: 0;
        }
        navigation-bar > .scroll-container {
          display: flex;
          justify-content: space-between;
          width: 100%;
          flex-flow: wrap;
          button {
            display: block;
            border-radius: 4px;
            background: rgba(236, 245, 253, 0.5);
            border: 1px solid rgba(141, 171, 196, 0.5);
            padding: 20px 0 12px;
            line-height: 100%;
            color: #8dabc4;
            font-size: 0.8125em;
            font-family: "Heebo", sans-serif;
            min-width: 30%;
            height: 85px;
            font-weight: 100;
            color: #0093ee;
            text-align: center;
            margin: 5px;
            image-or-icon {
              color: #0093ee;
            }
            &:hover {
              color: #e74a3b;
              border-color: rgba(231, 74, 59, 0.5);
              image-or-icon {
                color: #e74a3b;
              }
            }
          }
        }
        .tool-panel-container {
            .apply-button, .cancel-button {
                display: block;
            }
            .controls-drawer {
                display: flex;
                justify-content: center;   
            }
            crop-drawer, shapes-drawer, stickers-drawer, frame-drawer, filter-drawer {
                justify-content: stretch !important;
            }
            text-drawer .tool-panel-content {
                justify-content: center;
                flex-direction: column;
                align-items: center;
            }
            color-widget .colors {
                overflow-x: auto;
            }
            draw-drawer .brush-type-button-wrapper {
                position: relative;
                inset: unset;
                margin-top: 5px;
                margin-bottom: 5px;
            }
            .size-inputs-container, .checkbox-container, .font-selector-wrapper {
                margin: 0;
            }
        }
        .scroll-container-x {
          .tool-panel-content {
            align-items: center;
            & > div {
              margin-bottom: 10px;
            }
            .cancel-button, .apply-button {
                display: block;
            }
            
            .round-action-button mat-icon {
              display: flex;
            }
            & > :last-child {
              margin-right: inherit;
            }
            & > :first-child {
              margin-left: inherit;
            }
          }
        }
      }
      //do Smth
    }
  }
}
