#header {
    background-color: transparent ;
    position: fixed;
}
.sticky {
    background-color: #e74a3b !important;
    opacity: 1;
    transition: opacity .25s ease-out, height .15s ease;
}
a {
    cursor: pointer;
}
.logo.header img {
    max-width: 40%;
}
