<!--section -->
<section id="section" class="landing">
  <div class="top-section">
    <div class="container">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
          <h1>
            Store, share & host your images anywhere. <br />Secure you images
            forever.
          </h1>
          <p>Reliable media hosting developed by the users, for users</p>
          <a routerLink="/" class="green-btn">Get Started</a>
        </div>
      </div>
    </div>
  </div>
  <!-- top-section-->

  <div class="save-time-section">
    <div class="container">
      <div class="row">
        <div class="col-xl-7 col-lg-8 col-md-12 col-sm-12 col-12">
          <h2>Save time managing social media for your images</h2>
        </div>
        <div class="col-xl-5 col-lg-4 col-md-12 col-sm-12 col-12">
          <p>
            Easily share your images to social media from your phone or computer
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
          <div class="explore-img">
            <img src="../../../assets/img/Image.jpg" />
            <a routerLink="/">Explore</a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
          <div class="save-time-box">
            <div class="save-time-box-img">
              <img src="../../../assets/img/travel.png" />
            </div>
            <h4>Travel and Adventure</h4>
            <p>Capture Life Adventures forever</p>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
          <div class="save-time-box">
            <div class="save-time-box-img">
              <img src="../../../assets/img/share-people.png" />
            </div>
            <h4>Share</h4>
            <p>Capture Life Adventures forever</p>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
          <div class="save-time-box">
            <div class="save-time-box-img">
              <img src="../../../assets/img/security.png" />
            </div>
            <h4>Security Managment</h4>
            <p>Secure mobile upload & social share on the go</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
          <div class="exploare-all">
            <a routerLink="/" class="green-btn"
              >Explore All Features <i class="fa fa-arrow-right"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- save-time-section-->

  <div class="learn-section pic-bg">
    <div class="container">
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
          <h2>Picture Quality and Compression</h2>
          <p>Never compromise the quality of your images</p>
          <a routerLink="/" class="learn-btn">Learn More</a>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12"></div>
      </div>
    </div>
  </div>
  <!-- learn-section-->

  <div class="learn-section edit-bg">
    <div class="container">
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12"></div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
          <h2>Edit & Enhance your images</h2>
          <p>let your imagination run wild. bring your images to life</p>
          <a routerLink="/" class="learn-btn">Learn More</a>
        </div>
      </div>
    </div>
  </div>
  <!-- learn-section-->

  <div class="learn-section third-bg">
    <div class="container">
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
          <h2>Third Party <br />Hosting</h2>
          <p>Host your web images online. no need to upload over & over</p>
          <a routerLink="/" class="learn-btn">Learn More</a>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12"></div>
      </div>
    </div>
  </div>
  <!-- learn-section-->

  <div class="learn-section security-bg">
    <div class="container">
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12"></div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
          <h2>Security <br />& Storage</h2>
          <p>security where you need it most</p>
          <a routerLink="/" class="learn-btn">Learn More</a>
        </div>
      </div>
    </div>
  </div>
  <!-- learn-section-->

  <div class="testimonial-section">
    <div class="container">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
          <div class="sub-head">Testimonials</div>
          <h2>Our Happy Clients</h2>
          <div class="owl-carousel owl-theme testimonial-slider">
            <div class="item">
              <div class="testi-box">
                <p>
                  Cras quis nulla commodo, aliquam lectus sed, blandit augue.
                  Cras ullamcorper bibendum bibendum. Duis tincidunt urna non
                  pretium porta. Nam condimentum vitae ligula vel ornare.
                  Phasellus at semper turpis. Nunc eu tellus tortor.
                </p>
                <div class="testi-img">
                  <img src="../../../assets/img/Userpic.png" />
                </div>
                <div class="testi-name">Baha Moretz</div>
                <div class="testi-desig">Art Director</div>
              </div>
            </div>
            <div class="item">
              <div class="testi-box">
                <p>
                  Cras quis nulla commodo, aliquam lectus sed, blandit augue.
                  Cras ullamcorper bibendum bibendum. Duis tincidunt urna non
                  pretium porta. Nam condimentum vitae ligula vel ornare.
                  Phasellus at semper turpis. Nunc eu tellus tortor.
                </p>
                <div class="testi-img">
                  <img src="../../../assets/img/Userpic.png" />
                </div>
                <div class="testi-name">Baha Moretz</div>
                <div class="testi-desig">Art Director</div>
              </div>
            </div>
          </div>
          <!--slider-->
        </div>
      </div>
    </div>
  </div>
  <!-- testimonial-section-->

  <div class="plan-section">
    <div class="container">
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
          <h2>Build the right plan for your team</h2>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
          <div class="month-year">
            <input type="checkbox" class="checkbox" />
            <div class="knobs">
              <span>Monthly</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
          <div class="plan-box">
            <div class="plan-name">SILVER</div>
            <span class="plan-off">50% off</span>
            <div class="price-box">
              <span class="regular-price">$5.49</span>
              <span class="sell-price">$2.75</span>
              <div class="total-storage">3000 IMAGES (30GB)</div>
            </div>
            <ul>
              <li><i class="fa fa-check"></i>Hosting not Included</li>
              <li><i class="fa fa-check"></i>Image Editor</li>
              <li><i class="fa fa-check"></i>Social Sharing</li>
              <li><i class="fa fa-check"></i>No Adverts</li>
              <li><i class="fa fa-check"></i>Unlimited Albums</li>
              <li><i class="fa fa-check"></i>Secure Private Album Sharing</li>
              <li><i class="fa fa-check"></i>Lifetime Storage</li>
            </ul>
            <a routerLink="/register" class="plan-btn"
              >Sign up<span>30 days free trial</span></a
            >
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
          <div class="plan-box gold-plan-box">
            <div class="plan-name">GOLD</div>
            <span class="plan-off">50% off</span>
            <div class="price-box">
              <span class="regular-price">$7.49</span>
              <span class="sell-price">$3.75</span>
              <div class="total-storage">3000 IMAGES (30GB)</div>
            </div>
            <ul>
              <li><i class="fa fa-check"></i>Hosting not Included</li>
              <li><i class="fa fa-check"></i>Image Editor</li>
              <li><i class="fa fa-check"></i>Social Sharing</li>
              <li><i class="fa fa-check"></i>No Adverts</li>
              <li><i class="fa fa-check"></i>Unlimited Albums</li>
              <li><i class="fa fa-check"></i>Secure Private Album Sharing</li>
              <li><i class="fa fa-check"></i>Lifetime Storage</li>
            </ul>
            <a routerLink="/register" class="plan-btn"
              >Sign up<span>30 days free trial</span></a
            >
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
          <div class="plan-box">
            <div class="plan-name">PLATINUM</div>
            <span class="plan-off">50% off</span>
            <div class="price-box">
              <span class="regular-price">$12.59</span>
              <span class="sell-price">$6.30</span>
              <div class="total-storage">UNLIMITED IMAGES</div>
            </div>
            <ul>
              <li><i class="fa fa-check"></i>Hosting not Included</li>
              <li><i class="fa fa-check"></i>Image Editor</li>
              <li><i class="fa fa-check"></i>Social Sharing</li>
              <li><i class="fa fa-check"></i>No Adverts</li>
              <li><i class="fa fa-check"></i>Unlimited Albums</li>
              <li><i class="fa fa-check"></i>Secure Private Album Sharing</li>
              <li><i class="fa fa-check"></i>Lifetime Storage</li>
            </ul>
            <a routerLink="/register" class="plan-btn"
              >Sign up<span>30 days free trial</span></a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- plan-section-->

  <div class="partner-section">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-4 col-4">
          <img src="../../../assets/img/l1.png" />
        </div>
        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-4 col-4">
          <img src="../../../assets/img/l2.png" />
        </div>
        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-4 col-4">
          <img src="../../../assets/img/l3.png" />
        </div>
        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-4 col-4">
          <img src="../../../assets/img/l4.png" />
        </div>
        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-4 col-4">
          <img src="../../../assets/img/l5.png" />
        </div>
        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-4 col-4">
          <img src="../../../assets/img/l6.png" />
        </div>
      </div>
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
          <p>
            There are many variations of passages of Lorem Ipsum available, but
            the majority have suffered alteration in some form, by injected
            humour, or randomised words which don't look even slightly
            believable.
          </p>
          <a routerLink="/" class="green-btn">Get Started</a>
        </div>
      </div>
    </div>
  </div>
  <!-- partner-section-->
</section>
<!--section -->
