.example-small-box,
.example-large-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 16px;
  padding: 16px;
  border-radius: 8px;
}

.example-small-box {
  height: 100px;
  width: 100px;
}

.example-large-box {
  height: 300px;
  width: 300px;
}

/* /////////////////// */


::ng-deep .mat-tab-body-content {
  padding-top: 0.6em;
}

h2 {
  float: none;
}

.upload-img-wrapper {
  max-width: none !important;
}

.mat-form-field {
  width: 100%;
}

.form-container {
  display: flex;
  flex-direction: column;
}
::ng-deep .mat-tab-label{
    font-family: 'Archivo', sans-serif;
}
::ng-deep .mat-tab-label {
  font-size: 30px;
}