<div class="dashboard-content">
  <app-topbar [hideButtons]="hideButtons"></app-topbar>
  <div class="dashboard-bottom p-0">
    <div class="plan-section p-4" id="plan-select">
      <div class="container">
        <div class="row">
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
            <h2>Choose Subscription Plan</h2>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
            <div class="month-year">
              <input
                type="checkbox"
                class="checkbox"
                [(ngModel)]="perioudOption"
                [ngModelOptions]="{ standalone: true }"
              />
              <div class="knobs">
                <span>Monthly</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
            <div class="plan-box">
              <div class="plan-name">SILVER</div>
              <span class="plan-off">50% off</span>
              <div class="price-box">
                <span class="regular-price">$5.49</span>
                <span class="sell-price">$2.75</span>
                <div class="total-storage">3000 IMAGES (30GB)</div>
              </div>
              <ul>
                <li><i class="fa fa-check"></i>Hosting not Included</li>
                <li><i class="fa fa-check"></i>Image Editor</li>
                <li><i class="fa fa-check"></i>Social Sharing</li>
                <li><i class="fa fa-check"></i>No Adverts</li>
                <li><i class="fa fa-check"></i>Unlimited Albums</li>
                <li><i class="fa fa-check"></i>Secure Private Album Sharing</li>
                <li><i class="fa fa-check"></i>Lifetime Storage</li>
              </ul>
              <a (click)="register(1)" class="plan-btn">SUBSCRIBE</a>
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
            <div class="plan-box gold-plan-box">
              <div class="plan-name">GOLD</div>
              <span class="plan-off">50% off</span>
              <div class="price-box">
                <span class="regular-price">$7.49</span>
                <span class="sell-price">$3.75</span>
                <div class="total-storage">3000 IMAGES (30GB)</div>
              </div>
              <ul>
                <li><i class="fa fa-check"></i>Hosting not Included</li>
                <li><i class="fa fa-check"></i>Image Editor</li>
                <li><i class="fa fa-check"></i>Social Sharing</li>
                <li><i class="fa fa-check"></i>No Adverts</li>
                <li><i class="fa fa-check"></i>Unlimited Albums</li>
                <li><i class="fa fa-check"></i>Secure Private Album Sharing</li>
                <li><i class="fa fa-check"></i>Lifetime Storage</li>
              </ul>
              <a (click)="register(2)" class="plan-btn">SUBSCRIBE</a>
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
            <div class="plan-box">
              <div class="plan-name">PLATINUM</div>
              <span class="plan-off">50% off</span>
              <div class="price-box">
                <span class="regular-price">$12.59</span>
                <span class="sell-price">$6.30</span>
                <div class="total-storage">UNLIMITED IMAGES</div>
              </div>
              <ul>
                <li><i class="fa fa-check"></i>Hosting not Included</li>
                <li><i class="fa fa-check"></i>Image Editor</li>
                <li><i class="fa fa-check"></i>Social Sharing</li>
                <li><i class="fa fa-check"></i>No Adverts</li>
                <li><i class="fa fa-check"></i>Unlimited Albums</li>
                <li><i class="fa fa-check"></i>Secure Private Album Sharing</li>
                <li><i class="fa fa-check"></i>Lifetime Storage</li>
              </ul>
              <a (click)="register(3)" class="plan-btn">SUBSCRIBE</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
