<div class="media-box">
  <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection_list.toggle(item) : null"
  [checked]="selection_list.isSelected(item)"></mat-checkbox>
  <div class="lock-media" *ngIf = "item.is_protected!=0"><img src="assets/img/lock-icon.png" alt=""></div>
  <div class="media-file" (click)="imageView(item)" [ngStyle]="{'cursor': (item.category == 0)? 'pointer': ''}">
    <img src="{{viewImageThumbnail(item)}}" alt="null" />

    <div class="video-icon" (click)="viewMedia(item)"><img src="{{viewPreviewButton()}}" alt="">
    </div>
  </div>
  <div class="media-content">
    <div class="media-info">
      <div class="file-name">{{item.title}}</div>
      <div class="file-date">Added {{dispDate(item.created_at)}}</div>
    </div>
    <div class="media-edit" *ngIf = "category != 'deleted'">
      <i class="fa fa-ellipsis-v"></i>
      <div class="media-edit-inner">
        <div class="media-edit-box">
          <a mat-button (click)="openDialog('privacy')"><img src="assets/img/edit.png" alt="" />Edit Privacy</a>
          <a mat-button (click)="openDialog('share')"><img src="assets/img/share.png" alt="" />Share</a>
          <a mat-button (click)="openDialog('rename')"><img src="assets/img/rename.png" alt="" />Rename</a>
          <a mat-button (click)="openDialog('delete')"><img src="assets/img/delete.png" alt="" />Delete</a>
        </div>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</div>
<!-- http://127.0.0.1:8000/files/{{jsEncode(item.url)}}  -->