<div class="media-box">
  <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection_list.toggle(item) : null"
  [checked]="selection_list.isSelected(item)"></mat-checkbox>
  <div class="lock-media" *ngIf = "item.is_protected!=0"><img src="assets/img/lock-icon.png" alt=""></div>
  <div class="media-file">
    <img src="http://127.0.0.1:8000/files/{{jsEncode(item.url)}} " alt="" />
    <div class="video-icon" data-toggle="modal" data-target="#video-modal"><img src="assets/img/video-icon.png" alt="">
    </div>
  </div>
  <div class="media-content">
    <div class="media-info">
      <div class="file-name">{{item.filename}}</div>
      <div class="file-date">Added 5 Aug 2016</div>
    </div>
    <div class="media-edit">
      <i class="fa fa-ellipsis-v"></i>
      <div class="media-edit-inner">
        <div class="media-edit-box">
          <a mat-button (click)="openDialog('privacy')"><img src="assets/img/edit.png" alt="" />Edit Privacy</a>
          <a mat-button (click)="openDialog('share')"><img src="assets/img/share.png" alt="" />Share</a>
          <a mat-button (click)="openDialog('rename')"><img src="assets/img/rename.png" alt="" />Rename</a>
          <a mat-button (click)="openDialog('delete')"><img src="assets/img/delete.png" alt="" />Delete</a>
        </div>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</div>
<!-- http://127.0.0.1:8000/files/{{jsEncode(item.url)}}  -->