<button mat-icon-button class="close-button" [mat-dialog-close]="true">
  <mat-icon class="close-icon" color="warn">close</mat-icon>
</button>

<h1 mat-dialog-title><img src="assets/img/share-icon.png" alt=""> Share Link</h1>
<div mat-dialog-content>
  <div class="share-icons">
    <a ><i class="fa fa-facebook"></i><span>Facebook</span></a>
    <a ><i class="fa fa-twitter"></i><span>Twitter</span></a>
    <a ><i class="fa fa-pinterest"></i><span>Pinterest</span></a>
    <a ><i class="fa fa-whatsapp"></i><span>Whatsapp</span></a>
    <a ><i class="fa fa-envelope"></i><span>Email</span></a>
  </div>
  <div class="clear"></div>
  <div class="share-links">
    <div class="share-link">
      <h6>Direct Link</h6>
      <div class="share-link-box">
        <div class="share-link-text">https://www.radtriads.com/file.php?s=dkghzx62"</div>
        <div class="modal-btn">
          <button type="button">Copy</button>
        </div>
      </div>
    </div>
    <div class="share-link">
      <h6>HTML Link</h6>
      <div class="share-link-box">
        <div class="share-link-text">https://www.radtriads.com/file.php</div>
        <div class="modal-btn">
          <button type="button">Copy</button>
        </div>
      </div>
    </div>
    <div class="share-link">
      <h6>IMG Link</h6>
      <div class="share-link-box">
        <div class="share-link-text">[IMG]https://www.radtriads.com/</div>
        <div class="modal-btn">
          <button type="button">Copy</button>
        </div>
      </div>
    </div>
  </div>
</div>
