.mat-sidenav {
    width: 100%;
}

.mat-sidenav-container {
    height: 100vh;
}

.sidenav-toolbar {
    height: 64px;
    background-color: red;
    display: flex;
    flex-direction: row;
}

@media (max-width: 600px) {
    .sidenav-toolbar {
        height: 56px;
    }
}

.mat-nav-list {
    padding-top: 0;
}

.fixed-topnav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100% !important;
}

.menu-list-item.mat-list-item .mat-list-item-content {
    flex: 1 1 100%;
}

.version-info {
    font-size: 8pt;
    float: right;
    padding: 8px;
}


/* Mat Sidenav */

mat-sidenav-container {
    height: 100% !important;
}

.my-files {
    height: 98% !important;
}

mat-sidenav {
    background-color: #0c1f28;
}

.active-list-item {
    color: #3F51B5 !important;
    /* Note: You could also use a custom theme */
}

:host ::ng-deep .mat-list-item-content {
    color: white;
}

:host ::ng-deep .selected .mat-list-item-content {
    color: rgb(0, 0, 0);
}

:host ::ng-deep .mat-list-item-content:hover {
    color: black;
}


/* ////////////////////////////// */

::ng-deep div[cdkscrollable] {
    overflow: hidden auto;
}

::ng-deep div[cdkscrollable]::-webkit-scrollbar {
    width: 10px;
}


/* Track */

::ng-deep div[cdkscrollable]::-webkit-scrollbar-track {
    box-shadow: inset 0 0 10px white;
    border-radius: 10px;
    display: none;
}


/* Handle */

::ng-deep div[cdkscrollable]::-webkit-scrollbar-thumb {
    background: #25363e;
    border-radius: 10px;
}


/* Handle on hover */

::ng-deep div[cdkscrollable]::-webkit-scrollbar-thumb:hover {
    background: #a7abb4;
}

.mat-icon-button.closebtn {
    display: none;
}