<div class="dashboard-content">
  <app-topbar [hideButtons]="hideButtons"></app-topbar>
  <div class="dashboard-bottom p-0">
    <div class="success-section p-4" id="success-section">
      <div class="container-center">
        <div class="main-box">
          <h3>Thank you</h3>
          <p>You are now subscribed to a new plan on RadTriads.</p>
          <div class="border"></div>
          <a class="plan-btn" routerLink="/total">Dashboard</a>
        </div>
      </div>
    </div>
  </div>
</div>
