<div class="dashboard-topbar">
    <form class="search-form" action="">
        <input type="" placeholder="Search for photos, albums..." />
        <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
    </form>
    <div class="topbar-btns">
        <a [hidden] = "hideButtons==true" (click) = "renameAlbum()" class="blue-btns" style="cursor: pointer;">Rename Album</a>
        <a [hidden] = "hideButtons==true" (click) = "downloadAlbum()" class="blue-btns" style="cursor: pointer;">Download Album</a>
        <a [hidden] = "hideButtons==true" routerLink = "/folder-creation" class="blue-btns">Create Album</a>
        <a [hidden] = "hideButtons==true" routerLink = "/uploading" class="blue-btns">Upload files</a>
        <div class="user-account-outer">
            <a class="user-account"><i class="fa fa-user" aria-hidden="true"></i></a>
            <div class="ua-dropdown">
                <div class="ua-dropdown-outer">
                    <div class="ua-links">
                        <a href="/account"><i class="fa fa-user"></i>Account</a>
                        <a (click)="logout()"><i class="fa fa-sign-out"></i>Log out</a>
                    </div>
                    <div class="ua-storage">
                        <h5>Storage <span>{{usedRate * 100 / allRate}}%</span></h5>
                        <div class="ua-st-line"><span class="ua-fill" [ngStyle]="{'width': usedRate * 100 / allRate + '%'}" ></span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>
