<div class="dashboard-topbar">
    <form class="search-form" action="">
        <input type="" placeholder="Search for photos, albums..." />
        <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
    </form>
    <div class="topbar-btns">
        <a routerLink = "/folder-creation" class="blue-btns">Create Folder</a>
        <a routerLink = "/uploading" class="blue-btns">Upload files</a>
        <div class="user-account-outer">
            <a href="/account" class="user-account"><i class="fa fa-user" aria-hidden="true"></i></a>
            <div class="ua-dropdown">
                <div class="ua-dropdown-outer">
                    <div class="ua-links">
                        <a href="/account"><i class="fa fa-user"></i>Account</a>
                        <a href="#"><i class="fa fa-sign-out"></i>Log out</a>
                    </div>
                    <div class="ua-storage">
                        <h5>Storage <span>18%</span></h5>
                        <div class="ua-st-line"><span class="ua-fill"></span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>
