<div id="dashobard">
  <div class="header-dashobard-mobile">
    <div class="container-fluid">
      <button class="sidebar-icon" onclick="openNav()"><i class="fa fa-bars" aria-hidden="true"></i></button>
      <div class="logo"><img src="../../../assets/img/logo-mobile.png" alt="" /></div>
      <div class="mobile-right">
        <a routerLink="/"><img src="../../../assets/img/search-mobile.png" alt="" /></a>
        <a routerLink="/"><img src="../../../assets/img/folder-mobile.png" alt="" /></a>
        <a routerLink="/"><img src="../../../assets/img/file-mobile.png" alt="" /></a>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <!--header-dashobard-->

  <div class="main-dashboard">

    <!--dashobard-sidebar-->
    <app-sidebar></app-sidebar>
    <div class="dashboard-content">
      <app-topbar></app-topbar>
      <div class="dashboard-bottom">
        <ng-container #flowAdvanced="flow" [flowConfig]="{target: 'http://127.0.0.1:8000/api/fileupload/upload', testChunks:false, chunkSize:150*1024*1024, forceChunkSize:true }">
        </ng-container>
        <div class="dash-bot-top">
          <h2 ><i class="fa fa-arrow-left" aria-hidden="true" onclick="javascript:history.back();" style = "cursor: pointer;"></i> Upload files</h2>
          <div class="clear"></div>
        </div>
        <div class="upload-file-box">
          <div class="upload-btn-wrapper" flowDrop [flow]="flowAdvanced.flowJs">
            <button class="upload-btn"><i class="fa fa-upload" aria-hidden="true"></i> Drag files here or
              browse</button>
            <input type="file" name="myfile" flowButton [flow]="flowAdvanced.flowJs" [flowAttributes]="{accept: allowedExtensions[currentCategory]}"/>
          </div>
          <h4>Recent Uploads</h4>
          <div class="file-upload-list scroll-support" id="fu-list">
            <div class="file-upload-line" *ngFor="let transfer of (flowAdvanced.transfers$ | async).transfers; trackBy: trackTransfer">
              <div class="file-upload-desc">
                <img src="assets/img/file-1.png" alt="" />
                <div class="fu-name">{{transfer.name}}</div>
                <div class="fu-size">{{transfer.progress | percent}} {{transfer.size | number: '1.0'}} bytes:  {{transfer.timeRemaining}} seconds left</div>
              </div>
              <div class="file-upload-btns">
                <a class="file-resume" [hidden]="!transfer.paused" (click)="flowAdvanced.resumeFile(transfer)"><i class="fa fa-play" aria-hidden="true"></i></a>
                <a class="file-pause" [hidden]="transfer.paused || transfer.complete" (click)="flowAdvanced.pauseFile(transfer)"><i class="fa fa-pause" aria-hidden="true"></i></a>
                <a class="file-close" [hidden]="transfer.complete" (click)="flowAdvanced.cancelFile(transfer)"><i class="fa fa-times" aria-hidden="true"></i></a>
                <a class="file-ok" [hidden]="!transfer.complete" ><i class="fa fa-check" aria-hidden="true"></i></a>
              </div>
              <div class="clear"></div>
              <!-- <div class="fu-progess"><span class="fu-progess-fill" style="width:50%;"></span></div> -->
              <mat-progress-bar mode="determinate" value="{{transfer.progress * 100}}"></mat-progress-bar>
            </div>
          </div>
          <!-- <div class="fu-time">Time Remaining: <span>23 minutes</span></div> -->
        </div>
        <div class="fu-message" [hidden]="(flowAdvanced.transfers$ | async).totalProgress != 1" ><span><i class="fa fa-check" aria-hidden="true"></i></span>Upload Success!
          <div class="fu-msg-name"></div>
        </div>
      </div>
    </div>
    <!--dashobard-content-->
    <div class="clear"></div>
  </div>
</div>
