<div class="dashboard-content">
    <app-topbar [hideButtons]="hideButtons" (searchcriteria)="searchThis($event)"></app-topbar>
    <div class="dashboard-bottom">
        <mat-tab-group dynamicHeight (selectedTabChange)="onTabClick($event)">
            <mat-tab label="Home" style="overflow: visible;">
                <div class="storage-box-outer">
                    <div class="storage-box storage-box pl-3 pb-3">
                        <div class="storage-tab" [ngStyle]="{'display': ((allRate==0)?'none':'')}">
                            <div class="storage-line photo-line" [ngStyle]="{'width': (photoRate * 100 / allRate) + '%'}"></div>
                            <div class="storage-line music-line" [ngStyle]="{'width': (musicRate * 100 / allRate) + '%'}"></div>
                            <div class="storage-line video-line" [ngStyle]="{'width': (videoRate * 100 / allRate) + '%'}"></div>
                            <div class="storage-line doc-line" [ngStyle]="{'width': (codeRate * 100 / allRate) + '%'}">
                            </div>
                            <div class="storage-line trash-line" [ngStyle]="{'width': (trashRate * 100 / allRate) + '%'}"></div>
                            <div class="clear"></div>
                        </div>
                        <div class="remain-space" [ngStyle]="{'display': ((allRate==0)?'none':'')}">
                            {{convertToBigUnit(allRate - photoRate)}} / {{convertToBigUnit(allRate)}}</div>
                        <ul>
                            <li class="photo-dot"><span class="sto-name">Photo</span><span class="sto-space">{{convertToBigUnit(photoRate)}}</span></li>
                            <li class="music-dot"><span class="sto-name">Music</span><span class="sto-space">{{convertToBigUnit(musicRate)}}</span></li>
                            <li class="video-dot"><span class="sto-name">Video</span><span class="sto-space">{{convertToBigUnit(videoRate)}}</span></li>
                            <li class="doc-dot"><span class="sto-name">Documents</span><span class="sto-space">{{convertToBigUnit(codeRate)}}</span></li>
                            <li class="trash-dot"><span class="sto-name">Trash</span><span class="sto-space">{{convertToBigUnit(trashRate)}}</span></li>
                        </ul>

                        <div class="clear"></div>
                    </div>
                </div>
                <div class="clear"></div>
                <div class="tab-content">
                    <div id="fm-grid-view" [ngClass]="{'tab-pane fade in active show': viewMode == 0, 'tab-pane fade ': viewMode == 1}" class="tab-pane fade in active show">
                        <div class="recent-file-outer">
                            <div class="recent-file-head">
                                <h5>Recently added files</h5>
                                <div class="sort-by">Sort by <span>{{sort_label[sort_mode]}}</span><img style="cursor: pointer;" (click)="onSortClicked()" src="assets/img/sort.png" alt="" /></div>
                                <div class="clear"></div>
                            </div>
                            <div class="changing-btn pl-0 desktop-div">
                                <a class="grey-btn" (click)="onDownloadFiles()" download><i class="fa fa-download"
                                        aria-hidden="true"></i>Download</a>
                                <!-- <a class="grey-btn" (click) = "onMoveOrCopyFiles('Move')"><i class="fa fa-arrows"
                      aria-hidden="true"></i>Move</a>
                  <a class="grey-btn" (click) = "onMoveOrCopyFiles('Copy')"><i
                      class="fa fa-clone"></i>Copy</a> -->
                                <a class="grey-btn" (click)="onDeleteFiles()"><i class="fa fa-trash"></i>Delete</a>
                                <div class="clear"></div>
                            </div>
                            <div fxLayout="row wrap" fxLayoutGap="16px grid">
                                <div fxFlex="20%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let item of cardItems; let i = index;">
                                    <app-card [SetItem]="item" [selection_list]="selection_list" (deleteItems)="deleteItems($event)">

                                    </app-card>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="fm-list-view" [ngClass]="{'tab-pane fade in active show': viewMode == 1, 'tab-pane fade ': viewMode == 0}">
                        <div class="list-table">
                            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                                <!-- Checkbox Column -->
                                <ng-container matColumnDef="select">
                                    <th mat-header-cell *matHeaderCellDef>
                                        <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection_list.hasValue() && isAllSelected()" [indeterminate]="selection_list.hasValue() && !isAllSelected()">
                                        </mat-checkbox>
                                    </th>
                                    <td mat-cell *matCellDef="let row">
                                        <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection_list.toggle(row) : null" [checked]="selection_list.isSelected(row)">
                                        </mat-checkbox>
                                    </td>
                                </ng-container>

                                <!-- Title Column -->
                                <ng-container matColumnDef="title">
                                    <th mat-header-cell *matHeaderCellDef> Title </th>
                                    <td mat-cell *matCellDef="let element">
                                        <div class="file-name-table">
                                            <div class="file-name-img"><img src="{{viewImageThumbnail(element)}}" alt="">
                                                <span class="lock-box" *ngIf="element.is_protected!=0">
                                                    <img src="assets/img/lock-icon.png" class="" alt="">
                                                </span>
                                            </div> {{element.title}}
                                        </div>
                                    </td>
                                </ng-container>

                                <!-- Date Column -->
                                <ng-container matColumnDef="date">
                                    <th mat-header-cell *matHeaderCellDef> Date </th>
                                    <td mat-cell *matCellDef="let element"> {{convertoToString(element.updated_at)}}
                                    </td>
                                </ng-container>

                                <!-- Privacy Column -->
                                <ng-container matColumnDef="privacy">
                                    <th mat-header-cell *matHeaderCellDef> Privacy </th>
                                    <td mat-cell *matCellDef="let element">
                                        {{convertToPrivacyString(element.is_protected)}} </td>
                                </ng-container>
                                <!-- Action Column -->
                                <ng-container matColumnDef="action">
                                    <th mat-header-cell *matHeaderCellDef> Action </th>
                                    <td mat-cell *matCellDef="let element">
                                        <div class="media-edit">
                                            <i class="fa fa-ellipsis-h"></i>
                                            <div class="media-edit-inner">
                                                <div class="media-edit-box">
                                                    <a mat-button (click)="openDialog('privacy', element);$event.stopPropagation();"><img src="assets/img/edit.png" alt="" />Edit Privacy
                                                    </a>
                                                    <a mat-button (click)="openDialog('share', element);$event.stopPropagation();"><img src="assets/img/share.png" alt="" />Share</a>
                                                    <a mat-button (click)="openDialog('rename', element);$event.stopPropagation();"><img src="assets/img/rename.png" alt="" />Rename</a>
                                                    <a mat-button (click)="openDialog('delete', element);$event.stopPropagation();"><img src="assets/img/delete.png" alt="" />Delete</a>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection_list.toggle(row)">
                                </tr>
                            </table>
                        </div>
                        
                    </div>
                    <label class="load-more-btn mt-4" for="load-more" (click)="load_more()">
                        <span class="unloaded">LOAD MORE</span>
                      </label>  
                </div>
            </mat-tab>
            <mat-tab label="Recent uploads">
                <div class="tab-content">
                    <div id="fm-grid-view" [ngClass]="{'tab-pane fade in active show': viewMode == 0, 'tab-pane fade ': viewMode == 1}" class="tab-pane fade in active show">
                        <div class="recent-file-outer">
                            <div class="recent-file-head">
                                <h5>Recently added files</h5>
                                <div class="sort-by">Sort by <span>{{sort_label[sort_mode]}}</span><img style="cursor: pointer;" (click)="onSortClicked()" src="assets/img/sort.png" alt="" /></div>
                                <div class="clear"></div>
                            </div>
                            <div class="changing-btn pl-0 desktop-div">
                                <a class="grey-btn" (click)="onDownloadFiles()" download><i class="fa fa-download"
                                        aria-hidden="true"></i>Download</a>
                                <!-- <a class="grey-btn" (click) = "onMoveOrCopyFiles('Move')"><i class="fa fa-arrows"
                      aria-hidden="true"></i>Move</a>
                  <a class="grey-btn" (click) = "onMoveOrCopyFiles('Copy')"><i
                      class="fa fa-clone"></i>Copy</a> -->
                                <a class="grey-btn" (click)="onDeleteFiles()"><i class="fa fa-trash"></i>Delete</a>
                                <div class="clear"></div>
                            </div>
                            <div fxLayout="row wrap" fxLayoutGap="16px grid">
                                <div fxFlex="20%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let item of cardItems_recent; let i = index;">
                                    <app-card [SetItem]="item" [selection_list]="selection_list" (deleteItems)="deleteItems($event)">

                                    </app-card>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="fm-list-view" [ngClass]="{'tab-pane fade in active show': viewMode == 1, 'tab-pane fade ': viewMode == 0}">
                        <div class="list-table">
                            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                                <!-- Checkbox Column -->
                                <ng-container matColumnDef="select">
                                    <th mat-header-cell *matHeaderCellDef>
                                        <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection_list.hasValue() && isAllSelected()" [indeterminate]="selection_list.hasValue() && !isAllSelected()">
                                        </mat-checkbox>
                                    </th>
                                    <td mat-cell *matCellDef="let row">
                                        <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection_list.toggle(row) : null" [checked]="selection_list.isSelected(row)">
                                        </mat-checkbox>
                                    </td>
                                </ng-container>

                                <!-- Title Column -->
                                <ng-container matColumnDef="title">
                                    <th mat-header-cell *matHeaderCellDef> Title </th>
                                    <td mat-cell *matCellDef="let element">
                                        <div class="file-name-table">
                                            <div class="file-name-img"><img src="{{viewImageThumbnail(element)}}" alt="">
                                                <span class="lock-box" *ngIf="element.is_protected!=0">
                                                    <img src="assets/img/lock-icon.png" class="" alt="">
                                                </span>
                                            </div> {{element.title}}
                                        </div>
                                    </td>
                                </ng-container>

                                <!-- Date Column -->
                                <ng-container matColumnDef="date">
                                    <th mat-header-cell *matHeaderCellDef> Date </th>
                                    <td mat-cell *matCellDef="let element"> {{convertoToString(element.updated_at)}}
                                    </td>
                                </ng-container>

                                <!-- Privacy Column -->
                                <ng-container matColumnDef="privacy">
                                    <th mat-header-cell *matHeaderCellDef> Privacy </th>
                                    <td mat-cell *matCellDef="let element">
                                        {{convertToPrivacyString(element.is_protected)}} </td>
                                </ng-container>
                                <!-- Action Column -->
                                <ng-container matColumnDef="action">
                                    <th mat-header-cell *matHeaderCellDef> Action </th>
                                    <td mat-cell *matCellDef="let element">
                                        <div class="media-edit">
                                            <i class="fa fa-ellipsis-h"></i>
                                            <div class="media-edit-inner">
                                                <div class="media-edit-box">
                                                    <a mat-button (click)="openDialog('privacy', element);$event.stopPropagation();"><img src="assets/img/edit.png" alt="" />Edit Privacy
                                                    </a>
                                                    <a mat-button (click)="openDialog('share', element);$event.stopPropagation();"><img src="assets/img/share.png" alt="" />Share</a>
                                                    <a mat-button (click)="openDialog('rename', element);$event.stopPropagation();"><img src="assets/img/rename.png" alt="" />Rename</a>
                                                    <a mat-button (click)="openDialog('delete', element);$event.stopPropagation();"><img src="assets/img/delete.png" alt="" />Delete</a>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection_list.toggle(row)">
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </mat-tab>
            <mat-tab disabled>
                <ng-template mat-tab-label>
                    <ul class="nav nav-tabs list-grid" style="font-size: 16px !important;">
                        <li><a data-toggle="tab" (click)="setGridViewMode()"><i class="fa fa-th"
                                    aria-hidden="true"></i></a></li>
                        <li><a data-toggle="tab" (click)="setListViewMode()"><i class="fa fa-list"
                                    aria-hidden="true"></i></a></li>
                    </ul>
                    <div class="select-all desktop-div" style="font-size: 16px !important;">
                        <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection_list.hasValue() && isAllSelected()" [indeterminate]="selection_list.hasValue() && !isAllSelected()">Select All</mat-checkbox>
                    </div>
                </ng-template>
            </mat-tab>
        </mat-tab-group>

    </div>
</div>